
*{
  margin: 0;
  padding: 0;
}
/* navbar css*/

.navbar {
  background-color: #070F2B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-section{
  display: flex;
  color: rgb(69, 160, 69);
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
}
.logo-section img{
  width: 2.3rem;
}
.logo-section h1{
  align-items: center;
  font: 1.5em sans-serif;
}
.login{
  color: white;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.login-explore-section{
  display: flex;
  gap: 1rem;
  align-items: center;
  
}
.explore{
  background-color: transparent;
  box-shadow: none;
  color: rgb(248, 248, 248);
  font-weight: 500;
  font-size: 1rem;
  border: solid 2px rgb(211, 211, 211);
  padding: .5rem 1.7rem;
  align-items: center;
  cursor: pointer;
}


.section-1{
  background-image: url('../public/chibi-luffy.png');
  background-size:  cover ;
  background-repeat: no-repeat ;
  
  
  
}
.home-text{
  
  display: grid;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 17vw;
  
}
.home-text #container{
  padding: 2rem 0;
}
.home-text p{
  padding: 1rem 0;
}
/* first watch */

.first-watch{
  display: grid;
  background-color: #070F2B;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  padding-bottom: 9rem;
}
.first-watch h1, p{
  display: flex;
  justify-content: center;
  padding-bottom: 4rem ;
}
.first-watch h1{
  font-size: 3rem;
  padding-bottom: .5rem;
}
.single-slide img{
  width: 140px;
  height: 220px;
  object-fit: cover;
}
.single-slide{
  display: grid;
  background-color: black;
  justify-content: center;

  

}
.slide{
  
}

/*premuim*/

.premium{
  background-color: #070F2B;
  display: grid;
  justify-content: center;
  color: white;
  padding: 0 3rem;
}
.premium img{
}
.premium h1{
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}
.features{
  display: flex;
}

.features ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.center  {
  display: grid;
  align-items:flex-start;
  justify-content: center;
  max-width: 15rem;
  
  width: 15rem;
  text-align: center;

 
}
.center .icon{
  
  display: flex;
  justify-self: center;
  padding: 1rem;
  
}


.features ul li{
  
  display: flex;
  justify-content: center;
 
}




/* offline viewing */

.offline{
  background-image: url('../public/manga posters/offline.jpg');
  background-size: cover;
  height: 100vh;

  color: rgb(0, 0, 0);
  display: grid;
  justify-content:flex-end;
  align-items: center;

 
}
.offlinetext{
  max-width: 30rem;
  padding-right: 15rem;
  padding-bottom: 5rem;
  
  

}
.offlinetext h1{
  font-size: 3rem;
  padding-bottom: 1.5rem;
}
.offlinetext p{
  font-size: 1.3rem;
  font-weight: 500;
}

